QTabWidget::pane {
    border: 1px solid #AAAAB9;
    background-color: #D3D4DD;
    top:-1px; 
} 

QTabBar::tab {
    background: #D3D4DD;
    color: #24252E;
    padding: 10px;
    border: 1px solid #AAAAB9;
}

QTabBar::tab:selected { 
    background: @background; 
    margin-bottom: -1px; 
}

QTabBar::tab:hover {
    background: #AAAAB9;  
}
