QTabWidget::pane {
    border: 1px solid @border-color;
    background-color: @background-variant;
    top:-1px; 
} 

QTabBar::tab {
    background: @background-variant;
    color: @font-color;
    padding: 10px;
    border: 1px solid @border-color;
}

QTabBar::tab:selected { 
    background: @background; 
    margin-bottom: -1px; 
}

QTabBar::tab:hover {
    background: @border-color;  
}
