 QToolButton{
    padding: 4px;
    border: none;
    spacing: 2px;
}

QToolButton:hover,
QToolButton::menu-button:hover,
QToolButton::checked {
    background: @background-variant;
    border-radius: @border-radius;
}
