 QToolButton{
    border: none;
}

QToolButton:hover,
QToolButton::menu-button:hover {
    background: @background-variant;
}

QToolButton::checked {
    background-color: @background-variant;
}

QMenuBar::item:selected {
    background-color: @background-variant;
}
